<!DOCTYPE html>
<html lang="zh-Hans">


<head>
    <title>豆瓣数据分析展示平台</title>
        <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- js -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://huangkun123.com/static/admin/js/layui.js"></script>

    <link rel="stylesheet" href="http://huangkun123.com/static/admin/css/layui.css">
</head>
    <style>
        .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    color: inherit;
    background-color: #eee;
}
.layui-bg-blue {
    background-color: #31708f!important;
}

    </style>
<body>
<div class="container" >
    <div class="jumbotron"  style="background-color: #1e9fff00;border-radius: 0;">
        <h2 style="text-align: center;color: #31708f;">豆瓣数据分析展示平台</h2>
        </div>
    <ul class="layui-nav layui-bg-blue" style="background-color: #009688!important;">


  <li class="layui-nav-item">
    <a href="/user/index">数据可视化</a>
    <dl class="layui-nav-child">
      <dd><a id="ec_1">电影分布</a></dd>
      <dd><a id="ec_2">类型统计</a></dd>
      <dd><a id="ec_3">电影趋势</a></dd>
        <dd><a id="ec_4">时长占比</a></dd>
      <dd><a id="ec_5">热榜电影</a></dd>
    </dl>
  </li>

        <li class="layui-nav-item"><a href="">用户管理</a></li>
    <li class="layui-nav-item"><a href="/user/reset_pwd">密码修改</a></li>
  <li class="layui-nav-item"><a href="/user/login_out">退出登陆</a></li>
</ul>



    <form action="" method="get">
       <div class="layui-inline" style="margin-top:50px">
      <div style="">

      <div class="layui-input-inline">
        <input type="tel" name="keywords" lay-verify="required|phone" autocomplete="off" class="layui-input" placeholder="根据用户昵称搜索">
      </div>

        <button type="submit" class="layui-btn layui-btn-normal" style="background-color: #009688;">搜索</button>

      </div>

    </div>
    </form>

    <br>
    <br>
    <br>
    <br>
    <div style="text-align: center;">
      <label style="text-align: center;font-size:20px;margin-bottom: 20px;">用户管理</label>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th align="center">编号</th>
            <th align="center">用户昵称</th>
            <th align="center">账户</th>
            <th align="center">密码</th>

            <th align="center">操作</th>
            <th align="center">编辑</th>
        </tr>
        </thead>
        <tbody>
 {% for score in data.scores %}
        <tr style="text-align:center;">
           <td>{{score.id}}</td>
            <td>{{score.name}}</td>
            <td>{{score.phone_number}}</td>
            <td>{{score.password}}</td>

            <td>

                <a href="/user/admin_delete?u_id={{score.id}}">
                    <button>删除 </button>

                </a>  </td>
            <td>
             <a href="/user/edit_user?u_id={{score.id}}" style="color:blue">编辑


                </a>  </td>
        </tr>
  {% endfor %}
        </tbody>
    </table>










</div>

<script>
layui.use('laydate', function(){
  var laydate = layui.laydate;

  //常规用法
  laydate.render({
    elem: '#test1'
  });

  //国际版
  laydate.render({
    elem: '#test1-1'
    ,lang: 'en'
  });

  //年选择器
  laydate.render({
    elem: '#test2'
    ,type: 'year'
  });

  //年月选择器
  laydate.render({
    elem: '#test3'
    ,type: 'month'
  });

  //时间选择器
  laydate.render({
    elem: '#test4'
    ,type: 'time'
  });

  //日期时间选择器
  laydate.render({
    elem: '#test5'
    ,type: 'datetime'
  });

  //日期范围
  laydate.render({
    elem: '#test6'
    ,range: true
  });

  //年范围
  laydate.render({
    elem: '#test7'
    ,type: 'year'
    ,range: true
  });

  //年月范围
  laydate.render({
    elem: '#test8'
    ,type: 'month'
    ,range: true
  });

  //时间范围
  laydate.render({
    elem: '#test9'
    ,type: 'time'
    ,range: true
  });

  //日期时间范围
  laydate.render({
    elem: '#test10'
    ,type: 'datetime'
    ,range: true
  });

  //自定义格式
  laydate.render({
    elem: '#test11'
    ,format: 'yyyy年MM月dd日'
  });
  laydate.render({
    elem: '#test12'
    ,format: 'dd/MM/yyyy'
  });
  laydate.render({
    elem: '#test13'
    ,format: 'yyyyMMdd'
  });
  laydate.render({
    elem: '#test14'
    ,type: 'time'
    ,format: 'H点m分'
  });
  laydate.render({
    elem: '#test15'
    ,type: 'month'
    ,range: '~'
    ,format: 'yyyy-MM'
  });
  laydate.render({
    elem: '#test16'
    ,type: 'datetime'
    ,range: '到'
    ,format: 'yyyy年M月d日H时m分s秒'
  });

  //开启公历节日
  laydate.render({
    elem: '#test17'
    ,calendar: true
  });

  //自定义重要日
  laydate.render({
    elem: '#test18'
    ,mark: {
      '0-10-14': '生日'
      ,'0-12-31': '跨年' //每年的日期
      ,'0-0-10': '工资' //每月某天
      ,'0-0-15': '月中'
      ,'2017-8-15': '' //如果为空字符，则默认显示数字+徽章
      ,'2099-10-14': '呵呵'
    }
    ,done: function(value, date){
      if(date.year === 2017 && date.month === 8 && date.date === 15){ //点击2017年8月15日，弹出提示语
        layer.msg('这一天是：中国人民抗日战争胜利72周年');
      }
    }
  });

  //限定可选日期
  var ins22 = laydate.render({
    elem: '#test-limit1'
    ,min: '2016-10-14'
    ,max: '2080-10-14'
    ,ready: function(){
      ins22.hint('日期可选值设定在 <br> 2016-10-14 到 2080-10-14');
    }
  });

  //前后若干天可选，这里以7天为例
  laydate.render({
    elem: '#test-limit2'
    ,min: -7
    ,max: 7
  });

  //限定可选时间
  laydate.render({
    elem: '#test-limit3'
    ,type: 'time'
    ,min: '09:30:00'
    ,max: '17:30:00'
    ,btns: ['clear', 'confirm']
  });

  //同时绑定多个
  lay('.test-item').each(function(){
    laydate.render({
      elem: this
      ,trigger: 'click'
    });
  });

  //初始赋值
  laydate.render({
    elem: '#test19'
    ,value: '1989-10-14'
    ,isInitValue: true
  });

  //选中后的回调
  laydate.render({
    elem: '#test20'
    ,done: function(value, date){
      layer.alert('你选择的日期是：' + value + '<br>获得的对象是' + JSON.stringify(date));
    }
  });

  //日期切换的回调
  laydate.render({
    elem: '#test21'
    ,change: function(value, date){
      layer.msg('你选择的日期是：' + value + '<br><br>获得的对象是' + JSON.stringify(date));
    }
  });
  //不出现底部栏
  laydate.render({
    elem: '#test22'
    ,showBottom: false
  });

  //只出现确定按钮
  laydate.render({
    elem: '#test23'
    ,btns: ['confirm']
  });

  //自定义事件
  laydate.render({
    elem: '#test24'
    ,trigger: 'mousedown'
  });

  //点我触发
  laydate.render({
    elem: '#test25'
    ,eventElem: '#test25-1'
    ,trigger: 'click'
  });

  //双击我触发
  lay('#test26-1').on('dblclick', function(){
    laydate.render({
      elem: '#test26'
      ,show: true
      ,closeStop: '#test26-1'
    });
  });

  //日期只读
  laydate.render({
    elem: '#test27'
    ,trigger: 'click'
  });

  //非input元素
  laydate.render({
    elem: '#test28'
  });

  //墨绿主题
  laydate.render({
    elem: '#test29'
    ,theme: 'molv'
  });

  //自定义颜色
  laydate.render({
    elem: '#test30'
    ,theme: '#393D49'
  });

  //格子主题
  laydate.render({
    elem: '#test31'
    ,theme: 'grid'
  });


  //直接嵌套显示
  laydate.render({
    elem: '#test-n1'
    ,position: 'static'
  });
  laydate.render({
    elem: '#test-n2'
    ,position: 'static'
    ,lang: 'en'
  });
  laydate.render({
    elem: '#test-n3'
    ,type: 'month'
    ,position: 'static'
  });
  laydate.render({
    elem: '#test-n4'
    ,type: 'time'
    ,position: 'static'
  });
});
</script>
</body>
</html>